<!DOCTYPE html>

<html>
<head>
    <title>Guild</title>
    <style>
        .title,
        h2,
        p,
        div {
            text-align: center;
            align-items: center;
        }

        span {
            font-size: 20px;
            font-weight: 200;
            color: red;
        }
    </style>
</head>
<body>
    <div>
        <h1 class="title">GUILD</h1>

        <div><span>Admin account:</span> admin@gmail.com</div>
        <div><span>Admin password:</span> Alee123.</div>
        <div>
            <h2>Warning</h2>
            <p>
                Pls dont change important information like: lock admin user, but you
                can test unlock and lock other users.
            </p>
            <p>Github & My CV are bottom of footer.</p>
        </div>
        <div>
            <h2>Test the Order</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">BRAND</th>
                        <th scope="col">NUMBER</th>
                        <th scope="col">CVC</th>
                        <th scope="col">DATE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Visa</td>
                        <td>4242424242424242</td>
                        <td>Any 3 digits</td>
                        <td>Any future date</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Visa (debit)</td>
                        <td>4000056655665556</td>
                        <td>Any 3 digits</td>
                        <td>Any future date</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Mastercard</td>
                        <td>5555555555554444</td>
                        <td>Any 3 digits</td>
                        <td>Any future date</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Mastercard (debit)</td>
                        <td>5200828282828210</td>
                        <td>Any 3 digits</td>
                        <td>Any future date</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
